table,th,td {
    border: 1px solid;
}

th,td {
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

h1 {
  text-align: center;
  font-size: bolder;
  margin: 10px auto;
}

table {
  background-color: gray;
}
