html {
    background-color: #0C2427;
}

body {
    color: #EAEBEB;
}

table,th,td {
    border: 1px solid #404E88;
}

th,td {
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

h1 {
  text-align: center;
  font-size: bolder;
  padding-top: 30px;
  padding-bottom: 30px;
}

table {
  background-color: #163D57;
}

thead tr {
    position: sticky;
    top: 0;
    background-color: #163D57;
}
