*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    color: #4a4a4a;
    font-family: Rubik;
}

a {
    text-decoration: none;
    color: #4a4a4a;
}

header {
    position: fixed;
    background-color: white;
    width: 100%;
}


header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

header .content ul > li {
    display: inline-block;
    margin: 0 30px;
}

.icon {
    width: 1.25rem;
}

.logo {
    margin-left: 30px;
    letter-spacing: 2px;
}

@media only screen and (max-width: 480px) {
    header .desktop {
        display: none;
    }

    .mobile .button {
        font-family: Roboto;
        color: white;
        background-color: #9dc20a;
        border-radius: 4px;
        padding: 3px 8px;
    }

    header .content {
        height: 48px;
        justify-content: center;
    }

    #sign-up-section #sign-up-cta {
        background-color: #9dc20a00;
        border: 1px solid #97979700;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 170px auto 170px 100px;
    }

    #sign-up-section #sign-up-cta .header h1 {
        font-size: 2rem;
        letter-spacing: 2px;
    }

    #sign-up-section #sign-up-cta .email {
        display: none;
    }

    .banner {
        background-image: url(./resources/images/banner-landingpage.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 480px) {
    header .mobile ul li img {
        display: contents;
    }

    header .mobile {
        display: contents;
    }
    header .mobile ul {
        display: contents;
    }
    header .mobile ul li {
        display: contents;
    }

    header .content {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .mobile .button {
        width: 10%;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    #sign-up-section #sign-up-cta {
        background-color: #9dc20a00;
        border: 1px solid #97979700;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 170px auto;
    }

    #sign-up-section #sign-up-cta .email {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    header .mobile {
        display: none;
    }
}

.mobile .button {
    font-family: Roboto;
    color: white;
    background-color: #9dc20a;
    border-radius: 4px;
    padding: 5px;
}

.banner {
    background-image: url(./resources/images/banner-landingpage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-up-cta {
    background-color: #9dc20a;
    border: 1px solid #979797;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 170px auto 170px 100px;
}

#sign-up-cta .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.25rem;
    line-height: 1.4;
}

#sign-up-cta .content .header {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .cursive {
    font-family: Damion;
    margin-top: 32px;
}

.header .striking {
    font-size: 3.125rem;
}

#sign-up-cta .content .email {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sign-up-cta .content .email span {
    margin-top: 12px;
    width: 380px;
}

#sign-up-cta .content .email .button {
    width: 408px;
    height: 64px;
    background-color: #4a4a4a;
    border-radius: 4px;
    margin: 26px 80px 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
}

#features-section {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}

#features-section .feature {
    background-color: white;
    display: inline-flex;
    margin: 64px 19px 46px;
    width: 45%;
}

@media only screen and (max-width: 480px) {
    #features-section .feature {
        background-color: white;
        display: inline-flex;
        margin: 0 auto;
        width: 100%;
    }

    #features-section {
        display: flex;
        flex-direction: column;
    }

    #features-section .feature .center {
        margin: 0 auto;
    }

    .main-content .content h2 {
        font-size: 18px;
    }
    
    .main-content .content h3 {
        font-size: 14px;
        line-height: 1.3;
    }
}

#features-section .feature .center {
    display: flex;
    flex-direction: column;
    margin: 32px;
}

#features-section .feature .center img {
    width: 100%;
}

#features-section .feature .center .content {
    width: 95%;
    margin: 40px auto;
    text-align: center;
    line-height: 1.2;
}

#filters-section {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
}

#filters-section .content {
    margin: 64px auto 0;
    text-align: center;
    color: white;
    width: 50%;
}

.content h2 {
    font-size: 2.25rem;
    font-family: Roboto;
    font-weight: bold;
}

.content h3 {
    font-size: 1rem;
    font-family: Roboto;
    font-weight: lighter;
    line-height: 1.4;
}

#filters-section .images-container {
    display: flex;
    justify-content: center;
    margin: 80px 1% 64px;
}

@media only screen and (max-width: 480px) {
    #filters-section .images-container .extra {
        display: none;
    }

    #filters-section .images-container {
        margin: auto 1%;
    }

    #filters-section .content {
        margin: 40px auto;
        width: 90%;
        line-height: 1.8;
    }
}

#filters-section .images-container img {
    width: 100%;
}

#quotes-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#quotes-section .content {
    margin: 80px auto;
    text-align: center;
    width: 90%;
    font-size: 1.875rem;
    font-family: Palatino;
    font-style: italic;
    line-height: 1.1;
    font-weight: lighter;
}

#quotes-section .content img {
    font-size: 1.25em;
    margin-left: 30px;
}

footer {
    background-color: #9b9b9b;
    color: white;
    font-size: 12px;
    font-family: Roboto;
    font-weight: normal;
}

footer .content {
    display: flex;
    justify-content: space-between;
    margin: 0 32px;
    align-items: center;
    height: 62px;
}
