html {
    background-image: url("./snow.jpg");
    background-size: cover;
}

body {
    color: white;
}

h1 {
    margin: 0 auto;
    text-align: center;
    letter-spacing: 20px;
    padding: 20px;
    font-size: 50px;
    color: #F4A15D;
}

header ul {
    margin: 0 auto;
    text-align: center;
    background-color: rgba(15, 1, 54, 0.5);
}

header ul li {
    display: inline-block;
    letter-spacing: 20px;
    padding: 3px;
}

section h3,h2 {
    letter-spacing: 5px;
    color: #F4A15D;
    padding: 5px;
}

h3 + p {
    min-width: 350px;
    max-width: 600px;
    letter-spacing: 5px;
    padding: 5px;
}

nav {
    background-color: rgba(255, 255, 255, 0.4);
    width: 230px;
    padding: 5px;
    list-style-type: circle;
    line-height: 30px;
}

nav:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

footer {
    background-color: rgba(15, 1, 54, 0.8);
}

footer p {
    padding-left: 20px;
    font-size: 25px;
    font-weight: 900;
    color: #F4A15D;
}
